A list of commonly used licenses:
{% for lic in licenses %}
{{ lic.name }}
{{ lic.motivation }}
Key: {{ lic.key }}
{% if lic.url %}Url: {{ lic.url }}{% endif %}
{% if opts.verbose %}
{{ lic.desc }}
{% endif %}
{% endfor %}
Use `licenser list -h` for more licenses