{% if !license.key %}
No license has been set!


Try `licenser list` or `licenser set GPL3`
or `licenser -h` for more options
{%- else %}
Your license: {{ license.key }}
{%- if !license.valid %}
This license is not recognized by SPDX...
{%- else %}
{%- if license.motivationYou %}{{ license.motivationYou }}{% endif %}
{%- if !license.osiApproved %}This license is not OSI approved{% endif %}
{%- endif %}
{%- endif %}