{% if !license.key %}
No license has been set!
Try `licenser list` or `licenser set GPL-3.0`
{%- else %}
Your license: {{ license.key }}
{%- if !license.valid %}
This license is not recognized by SPDX...
{%- else %}
{%- if license.motivation %}Because you {{ license.motivation.substr(2) }}{% endif %}
{%- if !license.osiApproved %}This license is not OSI approved{% endif %}
{%- endif %}
{%- endif %}